<div class="row justify-content-center align-items-center card">
    <div class="col-8 d-flex flex-column mb-3 justify-content-center align-items-center mt-3">

        <img class="rounded-circle border border-primary" src="{{userProfile.avatar}}" alt="Avatar" style="max-width: 150px;">

        <h3>{{userProfile.name}}</h3>
        <p>{{userProfile.about}}</p>


    </div>
    <div class="col-10">
        <div class="list-group mb-3">
            <span class="list-group-item active text-dark">Posts Creados: {{userPost.length}}</span>
            {{#each userPost}}
            <a class="list-group-item list-group-item-action list-group-item text-white"
                href="/posts/{{this.slug}}">{{this.title}}</a>
            {{/each}}
        </div>
    </div>
</div>